:root {
  --primary-color: #ffffff;
  --primary-color-dark: #CDB99C;
  --secondary-color: #000000;
  --secondary-color-main: #6c3483;
  --accent-color: #3399CC;
  --accent-color-main: #4f76bd;
  --black: #000000;
  --sea-shell: #f1f1f1;
  --spacing: 4px;
}

body {
  background: var(--primary-color);
  font-family: sans-serif;
  font-weight: 800;
  padding: 0 24px;
}

#myCanvas {
  display: none;
}

.image-input {
  display: flex;
  flex-direction: row;
}

#input-label {
  align-items: center;
  background-color: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  font-weight: normal;
  height: 48px;
  justify-content: center;
  width: 188px;
}

#output {
  border: 2px dotted var(--accent-color);
  border-left: none;
  height: 44px;
}

.setting {
  width: 480px;
}

.control {
  align-items: center;
  display: flex;
  font-size: 24px;
  height: 60px;
  margin: 16px 0;
  position: relative;
  width: 100%;
}

.shade-controller {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: last baseline;
  margin: 16px 0;
}

#reverse-shade {
  padding-left: 8px;
}

.dropbtn {
  background-color: var(--accent-color);
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 16px;
  padding: 16px 24px;
  width: 188px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: var(--primary-color-dark);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  display: none;
  max-height: 600px;
  min-width: 375px;
  overflow-y: scroll;
  position: absolute;
  user-select: none;
  z-index: 1;
}

.dropdown-content a {
  color: var(--black);
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--sea-shell)
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: var(--accent-color-main);
}

#ascii-generator {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Major Mono Display', monospace;
  font-size: 8px;
  letter-spacing: 100%;
  line-height: 100%;
  width: max-content
}

.resizer {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.btn-action:hover {
  background-color: var(--accent-color-main);
}

input.code-input {
  font-size: 16px;
  width: 1em;
  text-align: center;
  flex: 1 0 1em;
}

input{
  padding: var(--spacing);
  border-radius: calc(var(--spacing) / 2);
  color: var(--sea-shell);
  background: var(--accent-color);
  border: 0;
  border: 1px solid transparent;
}

input:invalid {
  box-shadow: none;
}

input:focus{
  outline: none;
  border: 2px solid var(--secondary-color-main);
  background: var(--accent-color-main);
}

.custom-chars {
  margin-left: 24px;
}

.char-label {
  font-size: 12px;
  display: flex;
}

.info {
  border: 1px solid orange;
  color: orange;
  width: max-content;
  border-radius: 50%;
  margin-left: 8px;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
}

.info:hover:after {
  position: absolute;
  top: -40px;
  left: 16px;
  content: attr(data-tooltip);
  color: white;
  padding: 4px;
  background-color: var(--accent-color);
  z-index: 9;
  width: 240px;
  padding: 8px;
  border-radius: 4px;
}

.clear {
  margin-left: 24px;
  cursor: pointer;
}